<!DOCTYPE html>
<html lang="en">
<title>Learnzilla-CoursePage</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-2018.css">
<link rel="icon" href="images/icon.jpg">
<style>
    body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
    h1,button {font-family: "Montserrat", sans-serif}
    </style>
    
    <body>
    
    <!--Header--> 
    <header class=" w3-2018-little-boy-blue w3-center" style="padding:10px 16px">
        <img src="images/Ch.jpg" style="width:50%; height:50%;" >
      </header>

      <div class="">
        <div class="w3-bar w3-2018-little-boy-blue w3-card w3-left-align w3-large">
            <a class="w3-bar-item w3-left w3-padding-large w3-text-white w3-2018-little-boy-blue">Best Online Course Platforms</a>
          <a href="index.html" class="w3-bar-item w3-button w3-right w3-padding-large w3-hover-white w3-red">LogOut</a>
      </div>

<body>

<div class="w3-container">
  <h2>Course 01</h2>

  <div class="w3-card-4" style="width:100%;">
    <header class="w3-container  w3-2018-little-boy-blue">
      <h1>Html5</h1>
      <label>
        <input type="checkbox"  name="completed" style="margin-bottom:15px"> Completed
      </label>
    </header>

    <div class="w3-container">
      <h5>Instructions</h5>
      <ul>
        <li>Download an editor to write the code.</li>
        <li>Editors like VS Code,Atom and so on</li>
        <li>Watch the youtube video to get brief knowledge about the course.</li>
        <li>After watching the video build some handson project.</li>
      </ul>
    </div>

    <footer class="w3-container w3-2018-little-boy-blue">
      <h4>YouTube Video:</h4>
     <p>Link: <a href="https://www.youtube.com/watch?v=qz0aGYrrlhU" style="text-decoration: none;">  https://www.youtube.com/watch?v=qz0aGYrrlhU</p>
    </footer>
  </div>
</div>

<div class="w3-container">
  <h2>Course 02</h2>

  <div class="w3-card-4" style="width:100%;">
    <header class="w3-container  w3-2018-little-boy-blue">
      <h1>CSS3</h1>
      <label>
        <input type="checkbox"  name="completed" style="margin-bottom:15px"> Completed
      </label>
    </header>

    <div class="w3-container">
      <h5>Instructions</h5>
      <ul>
        <li>Download an editor to write the code.</li>
        <li>Editors like VS Code,Atom and so on</li>
        <li>Watch the youtube video to get brief knowledge about the course.</li>
        <li>After watching the video build some handson project.</li>
      </ul>
    </div>

    <footer class="w3-container  w3-2018-little-boy-blue">
      <h4>YouTube Video:</h4>
     <p>Link: <a href="https://www.youtube.com/watch?v=yfoY53QXEnI" style="text-decoration: none;">  https://www.youtube.com/watch?v=yfoY53QXEnI</p>
    </footer>
  </div>
</div>

<div class="w3-container">
  <h2>Course 03</h2>

  <div class="w3-card-4" style="width:100%;">
    <header class="w3-container  w3-2018-little-boy-blue">
      <h1>JavaScript</h1>
      <label>
        <input type="checkbox"  name="completed" style="margin-bottom:15px"> Completed
      </label>
    </header>

    <div class="w3-container">
      <h5>Instructions</h5>
      <ul>
        <li>Download an editor to write the code.</li>
        <li>Editors like VS Code,Atom and so on</li>
        <li>Watch the youtube video to get brief knowledge about the course.</li>
        <li>After watching the video build some handson project.</li>
      </ul>
    </div>

    <footer class="w3-container  w3-2018-little-boy-blue">
      <h4>YouTube Video:</h4>
     <p>Link: <a href="https://www.youtube.com/watch?v=W6NZfCO5SIk" style="text-decoration: none;"> https://www.youtube.com/watch?v=W6NZfCO5SIk</p>
    </footer>
  </div>
</div>

<div class="w3-container">
  <h2>Course 04</h2>

  <div class="w3-card-4" style="width:100%;">
    <header class="w3-container  w3-2018-little-boy-blue">
      <h1>Node.Js</h1>
      <label>
        <input type="checkbox"  name="completed" style="margin-bottom:15px"> Completed
      </label>
    </header>

    <div class="w3-container">
      <h5>Instructions</h5>
      <ul>
        <li>Download an editor to write the code.</li>
        <li>Editors like VS Code,Atom and so on</li>
        <li>Watch the youtube video to get brief knowledge about the course.</li>
        <li>After watching the video build some handson project.</li>
      </ul>
    </div>

    <footer class="w3-container  w3-2018-little-boy-blue">
      <h4>YouTube Video:</h4>
     <p>Link: <a href="https://www.youtube.com/watch?v=TlB_eWDSMt4" style="text-decoration: none;">  https://www.youtube.com/watch?v=TlB_eWDSMt4</p>
    </footer>
  </div>
</div>

</body>
</html>
